.search-bar {
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; 
  animation-duration: 2s; 
}

.hero-section {
  position: relative;
  z-index: 9999;
}

.container-lg {
  position: relative;
}